
.header-container{
    margin: 100px;
height: 500px;
background-image: url(./images/Banner\ Image.png);
background-position: center;
background-size: cover;
border-radius: 10px;
background: linear-gradient(50%);
filter: brightness(90%);
font-family: 'Merriweather', serif;
}

.header-text{
    color: #FFF;
text-align: center;
font-size: 30px;
}
.new{
    padding-top: 130px;
    margin-bottom: 0%;
    font-size: smaller;
}
.party{
    margin-top: 1%;
}

.section-text{
    text-align: center;
    font-family: 'Inter', sans-serif;
    color:  #F00;;
}

.text-color{
    font-family: 'Inter', sans-serif;
    font-size: 80px;
}
.text{
    font-size: 18px;
    font-weight: 650;
    ;
}
.all{
    font-size: 42px;
    color: #070211;
    margin-top: 0%;
}
.section-image{
    position: relative;

}

.join{
    margin-left: 50px;
    margin-right: 100px;
    margin-top: 60px;
    background-repeat: no-repeat;
    background-image: url(./images/Vectorrr.png);
    width: 1250px;
    height: 600px;
    display: flex
    
}

.join .group-70{
    width: 319.83px;
    height:  464.662px;
    margin-top: 70px;
    margin-left: 150px;
}

.join div { 
    padding-top: 50px;
    margin-left: 60px;
    text-decoration: none;
    
}
.join .btn{
    color:  #FFF;
    background: none;
    border: 0px;
    text-decoration: none;
}
.welcome{
    color: #FFF;
font-family: Merriweather;
font-size: 64px;
font-style: normal;
font-weight: 800;
line-height: 88px; /* 137.5% */
letter-spacing: 7.04px;
}

.let{
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
}

.join > button{
    text-decoration: none;
    border: 0px;
}
div{
    border-radius: 10px;
}

.about{
    background-color: rgb(240, 206, 206);
    text-align: center;
    color: #070211;
    font-family: Inter;
    font-size: 28px;
    font-weight: 600;
    line-height: 30px;
    padding: 130px;
    border-radius: 10px;
    margin: 100px;
}
.place{
    color: #F00;;
}
    
.btn-praimary{
    border-radius: 8px;
background: #F00;
border: 0;
color: #FFF;

text-align: center;
font-family: Inter;
font-size: 20px;
padding: 13px 32px;
}

.soon{
    display: flex;
    justify-content: center;
}

#fast{
    margin-top: 50px;
    margin-right: 60px;
}
#second{
    margin-right: 80px;
}
#third{
    margin-top: 40px;
    margin-left: 20px;
}

.best{
    margin-bottom: 0%;
    color: #F00;
font-family: Inter;
font-size: 18px;

}

.coming{
    color: #070211;
font-family: Merriweather;
font-size: 48px;
margin-top: 1%;
margin-bottom: 0%;
}

.we-have{
    margin-top: 1%;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 16px;
}

.sal{
    color: #F00;
font-family: Inter;
font-size: 42px;
margin-bottom: 0%;
}
.may{
    color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 16px;
}
.group-96{
    width: 125px;
    height: 125px;
}